<ActionBar title="Herd" class="action-bar"></ActionBar>

<GridLayout class="page" rows="*">
    <ListView row="0" *ngIf="(groupCategories$ | async)?.loadSuccess" [items]="(groupCategories$ | async)?.categoryList" class="list-group">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.category" class="list-group-item"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <AbsoluteLayout row="0" marginTop='50%' marginLeft='50%' style="transform: translate(-50%, -25%)">
        <Button  *ngIf="(groupCategories$ | async)?.loadError" text="Refresh"
            horizontal-alignment="center" min-width="200" (tap)="refresh()" class="btn-primary"></Button>
    </AbsoluteLayout>

    <ActivityIndicator row="0" width="50" height="50" [busy]="(groupCategories$ | async)?.loading" class="activity-indicator"
        horizontal-alignment="center" vertical-alignment="center"></ActivityIndicator>
</GridLayout>